             body {
                 background-color: goldenrod;
                }

             h1 {
                 color: rgb(75, 39, 16);
                 font-family: "Creepster", system-ui;
                 background-color: wheat;
                 border:1px solid black;
                 font-size: 40px;
                 border-radius: 20px 20px 20px 20px;
                 box-shadow: 0px 0px 25px black;
                 justify-content: center;
                 align-items: center;
                 display: flex;
                 text-shadow: 1px 1px 2px rgb(0, 0, 0);
                }

             h2 {
                 color: rgb(56, 26, 7);
                 font-family: "Creepster", system-ui;
                 background-color: wheat;
                 border:1px solid black;
                 font-size: 40px;
                 border-radius: 20px 20px 20px 20px;
                 box-shadow: 0px 0px 25px black;
                 justify-content: center;
                 align-items: center;
                 display: flex;
                 text-shadow: 1px 1px 2px rgb(0, 0, 0);
                }

             .bg-video {
                 position: fixed;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 z-index: -1;
                }

             .vd1 {
                 display: block;
                 width: 500px;
                 height: auto;
                 box-shadow: 0pX 0px 25px 5px black;
                 border-radius: 10px 10px 10px 10px;
                 margin:0 auto;
                 margin-top: 500px;
                }

             .images {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 100%;
                 gap: 40px;
                 position: relative;
                 height: 299px;
                }

             .png1 {
                 position: absolute;
                 left: 0;
                }

             .png2 {
                 position: absolute;
                 right: 0;
                }

             .sg {
                 width: 400px;
                 height: 45px;
                 border-radius: 10px;
                 background-color: #ffffff;
                 padding: 10px;
                 box-shadow: 0 0 20px rgb(255, 255, 255)
                }

             .d1 {
                 width: 200px;
                 height: 200px;
                 background-color: goldenrod;
                 margin-top: 80px;
                 border-radius: 50%;
                 box-shadow: 0px 0px 20px black;
                 background-image: linear-gradient(to left, goldenrod , gold);
                }

             .d2 {
                 width: 200px;
                 height: 200px;
                 background-color: goldenrod;
                 margin-top: 80px;
                 border-radius: 50%;
                 box-shadow: 0px 0px 20px black; 
                 background-image: linear-gradient(to left, goldenrod , gold);
                }

             .d3 {
                 width: 200px;
                 height: 200px;
                 background-color: goldenrod;
                 margin-top: 80px;
                 border-radius: 50%;
                 box-shadow: 0px 0px 20px black;
                 background-image: linear-gradient(to left, goldenrod , gold);
                }

             .d4 {
                 width: 200px;
                 height: 200px;
                 background-color: goldenrod;
                 margin-top: 80px;
                 border-radius: 50%;
                 box-shadow: 0px 0px 20px black;
                 background-image: linear-gradient(to left, goldenrod , gold);
                }

             .d5 {
                 width: 200px;
                 height: 200px;
                 background-color: goldenrod;
                 margin-top: 80px;
                 border-radius: 50%;
                 box-shadow: 0px 0px 20px black;
                 background-image: linear-gradient(to left, goldenrod , gold);
                }

             .field1{
                 border: 2px solid goldenrod;
                 border-radius: 15px; padding: 20px;
                 margin-top: 60px;
                 box-shadow: 0px 0px 20px black;
                 background-color: wheat;
                 background-image: linear-gradient(to top, rgb(255, 255, 255) , goldenrod);
                }

             .leg1{
                 font-size: 32px;
                 font-family: 'Creepster', system-ui;
                 color: rgb(56, 26, 7);
                 background-color: goldenrod;
                 padding: 5px 10px;
                 border: 2px solid goldenrod;
                 box-shadow: 0px 0px 20px black;
                 border-radius: 10px;
                }

             .par1{
                 font-size: 24px;
                 font-family: Arial, sans-serif;
                 color: rgb(75, 39, 16);
                 text-shadow: 1px 1px 2px black;
                }

             .buttom1{
                    font-size: 64px;
                    font-family: 'Creepster', system-ui;
                    color: rgb(56, 26, 7);
                    background-color: goldenrod;
                    padding: 20px 40px;
                    border: 2px solid goldenrod;
                    box-shadow: 0px 0px 20px black;
                    border-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    margin:auto;
                }

             .sky1 {
                 width: 1000px;
                 height: 500px;
                 background-color: skyblue;
                 box-shadow: 0px 0px 20px black;
                 border-radius: 30px 30px 30px 30px;
                 margin-top: 40px;
                 filter:drop-shadow(10px 0px 10px black);
                 margin:auto;
                 display: flex;
                }

             

            